<div class="flex flex-col h-screen">
  <app-navbar></app-navbar>
  <div class="w-full grow bg-white-600 p-6">
    <table cdk-table [dataSource]="products">
      <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: columns"></tr>

      <!-- Id column-->
      <ng-container cdkColumnDef="id">
        <th cdk-header-cell *cdkHeaderCellDef>id.</th>
        <td cdk-cell *cdkCellDef="let row">{{ row.Id }}</td>
      </ng-container>
      <!-- title column-->
      <ng-container cdkColumnDef="title">
        <th cdk-header-cell *cdkHeaderCellDef>title.</th>
        <td cdk-cell *cdkCellDef="let row">{{ row.titlle }}</td>
      </ng-container>
      <!-- price column-->
      <ng-container cdkColumnDef="price">
        <th cdk-header-cell *cdkHeaderCellDef>price.</th>
        <td cdk-cell *cdkCellDef="let row">{{ row.price }}</td>
      </ng-container>
    </table>
  </div>
</div>
